.menu{
    background-color: rgb(125,224,26);
    list-style: none;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* display:flex для выравниивания и заодно - для создания элемента меню */
}
.menu:hover{
 background-color: rgb(81,151,11);
}
img{
    width: 50px;
    vertical-align: middle;
          }